html, body {
  height: 100%;
}
body {
  background-size: 100%;
  background-image: url('../images/bg.jpg');
  background-attachment: fixed;
}
#bgoverlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: -1;
}

#header {
  padding-top: 200px;
  .row { min-height: 500px; }
}
